*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
.background{
    background-image: url("/bg-header-mobile.png");
    height: 44vh;   
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18vh;
}
.section1{
    
}
.h1{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
    text-align: center;
}
span{
    display: block;
}

.h2{
    text-align: center;
    color:  hsl(201, 11%, 66%);
    padding: 25px;
    font-size: 18px;
}
.input1{
    display: block;
    margin: 10px auto;
   background-color:hsl(171, 66%, 44%);
    padding: 10px 15px;
    width: 80%;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    color: white;
}

.input2{
    display: block;
    margin: 10px auto;
    background-color:hsl(233, 100%,69%);
    padding: 10px 15px;
    width: 80%;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    color: white;
}
.h3{
    padding: 25px;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Oswald', sans-serif;
    word-spacing: 5px;
    color:  hsl(210, 10%, 33%);
}
.h4{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
}
.computer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 260px;
    height: 240px ;
    
}
.h5{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h6{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
}
.h7{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h8{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
    padding-left: 20px;
}
.h9{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h10{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    padding-top: 15px;
    font-size: 18px;
}
.h11{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h12{
    padding: 25px;
    text-align: center;
    max-width: 340px;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
}
.device{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image2{
    height: 240px;
}
.h13{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h14{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
    padding-left: 20px;
}
.logo2{
    padding-left: 150px;
    padding-top: 80px;
}
.h15{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h16{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    padding-top: 15px;
    font-size: 18px;
}
.logo3{
    padding-left: 150px;
    padding-top: 60px;
}
.h17{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h18{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
}
.logo4{
    padding-left: 150px;
    padding-top: 60px;
}
.h19{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h20{
    padding: 25px;
    text-align: center;
    color:  hsl(201, 11%, 66%);
    font-size: 18px;
}
.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo5{
    padding: 20px;
   height: 80px;
   width: 180px;
}
.logo6{
    padding: 20px;
    height: 80px;
    width: 180px;
}
.logo7{
    padding: 20px;
    height: 80px;
    width: 180px;
}
.logo8{
    padding: 20px;
    height: 90px;
    width: 180px;
}
.logo9{
    padding: 20px;
    height: 80px;
    width: 180px;
}
.h21{
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color:  hsl(210, 10%, 33%);
}
.h22{
    
    text-align: center;
    color:  hsl(201, 11%, 66%);
    padding: 20px;
    font-size: 18px;ss
}
.footer{
    background-color: rgb(236, 236, 236);
    height: 550px;
   
}
.div1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text{
    text-align: center;
    
    flex-direction: row;
}
.smalllogo{
    width: 130px;
    height: 130px;
    padding: 30px;
}
.s1{
    padding: 20px;
    font-size: 1.5rem;
    color:  hsl(210, 10%, 33%);
}
.s2{
    padding: 20px;
    font-size: 1.5rem;
    color:  hsl(210, 10%, 33%);
}
.s3{
    padding: 20px;
    font-size: 1.5rem;
    color:  hsl(210, 10%, 33%);
}
.s4{
    padding: 20px;
    font-size: 1.5rem;
    color:  hsl(210, 10%, 33%);
}
.s5{
    padding: 20px;
    font-size: 1.5rem;
    color:  hsl(210, 10%, 33%);
}
.facebook{
    padding-top:30px ;
    padding-left: 100px;
}
.instagram{
    padding-top:30px ;
    padding-left: 40px;
}
.twitter{
    padding-top:30px ;
    padding-left: 50px;
}
@media only screen and (min-width:1024px) {
    
    .background{
        background: url("bg-header-desktop.png") ;
        height: 40vh;
    }
    .h1{
        font-size: 2.5rem;
        word-spacing: 5px;
    }
    span{
        display: inline;
    }
    .h2{ 
       text-align: center;
       font-size: 18px;
      
    }
    .input1{
       width: 17%;
       float:left;
       margin-left: 400px;
       font-size: 1.2rem;
   
    }
    .input2{
        width:17%;
        margin-right: 440px;
        font-size: 1.2rem;
    }
    
    .span2{
        display: inline;
        padding-left: 450px;  
    }  
    .h3{
        font-size: 1.8rem;
    }
    .h4{
       max-width: 680px;
        text-align: center;
        margin-left: 350px;
    }
   .image{
       width: 550px;
       height: 500px;
      margin-left: -20px;
      margin-top: 40px;
   }
   .computer{
       float: left;
   }
   .float{
       margin-top: 30px;
   }
   .h11{
       font-size: 1.8rem;
   }
   .h12{
       max-width: 980px;
      margin-left: 200px;
   }
   .image2{
       width: 900px;
       height: 500px
   }
   .h13{
       letter-spacing: 1px;
       word-spacing: 5px;
   }
   .h14{
     
   }
   .logos{
       display: flex;
       flex-direction: row;
       margin-top: 100px;
       margin-bottom: 50px;
   }
   .h22{
       max-width: 950PX;
       padding-left: 400PX;
   }
   .pc{
       display: flex;
       flex-direction: row;
   }
   .logo2{
       padding-top: 56px;
       padding-left: 250px;
   }
   
   .icon1{
       padding-left: 40px;
       padding-bottom: 15px;
   }
   .icon2{
       padding-left: 30px;
       padding-top: 5px;
   }
   .icon3{
       padding-left: 30px;
       padding-top: 3px;
   }
   .footer{
       height:150px;
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: end;
   }
  .div1{
      padding-top: 30px;
      width: 200px;
  }
  .div2{
      width: 500px;
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0px;
      flex: start;
  }
  .div3{
      padding-top: 30px;
  }

.h17{
    font-size: 1.6rem;
}
.h19{
    font-size: 1.6rem;
}
.logo4{
    padding-left: 130px;
}
}


